<div class="container mx-auto text-center">
  <div class="space-y-5 m-3 p-3 my-28">
  <h1 class="text-6xl text-slate-500 p-3 underline
   ">Trip Aware</h1>
    <div class="font-thin text-4xl py-5">Your One Stop Trip Tracker ... Want to experience more sign up below</div>
    <div class="pb-5">
      <%= link_to "Sign Up", new_user_registration_path, data: {turbo_frame: "_top"},
      class: "text-white bg-slate-500 p-3 font-semibold rounded"%>
    </div>
  </div>

  

</div>
