<div class="container mx-auto text-center">
  <div class="my-auto space-y-5 m-3 p-3 ">
  <h1 class="text-6xl text-slate-500 p-3 border-l-4
   border-slate-600 bg-slate-50">Trip Aware</h1>
    <div class="font-thin text-4xl py-5">Your One Stop Trip Tracker ... Want to experience more sign up below</div>
    <div class="pb-5">
      <%= link_to "Sign Up", new_user_registration_path, data: {turbo_frame: "_top"},
      class: "text-white bg-slate-500 p-3 font-semibold rounded"%>
    </div>
  </div>

  <div class="m-3 p-3">
    <h1 class="text-5xl text-slate-500 border-l-4 p-3
    border-slate-600 bg-slate-50">How It Works</h1>
    <div class="sm:flex sm:flex-row my-20 font-thin">
      <div class="basis-1/2">
        <h1 class="text-4xl text-slate-500">Sign up</h1>
      </div>
      <div class="basis-1/2">
        <h1 class="text-4xl text-slate-500">Add trips</h1>
      </div>
      <div class="basis-1/2">
        <h1 class="text-4xl text-slate-500">Add Pit stops</h1>
      </div>
    </div>
  </div>
 

  <div class="m-5 p-5">
    <h1 class="text-5xl text-slate-500 border-l-4 p-3
    border-slate-600 bg-slate-50">For Who</h1>
    <p class="font-thin text-4xl p-3 mt-20">It's made for all in need of a one place to to keep track of all trips </p>
  </div>
</div>
