<div class="my-5">
        <div class="py-3 shadow shadow-slate-500 rounded">
            <div class="bg-slate-200 py-3 text-slate-500 text-3xl ">
                <p class="ml-3 font-mono font-bold"> <%= trip.name %> trip</p>
            </div>
            <div class="mx-3 py-3">
                <p class="bg-stone-300 p-2 font-bold border-l-4 border-slate-500">Origin</p> 
                <p class="bg-stone-100 p-2"><%= trip.origin %></p>
            
                <p class="bg-stone-300 p-2 font-bold border-l-4 border-slate-500">Destination</p>
                <p class="bg-stone-100 p-2"><%= trip.destination %></p>
            </div>
            <div>
                <p class="text-blue-500 font-semibold p-3">
                    Click here -> <%= link_to "for more on #{trip.name} trip", trip_path(trip), class: "underline",
                    data: {turb_frame: "_top"} %> 
                </p>
            </div>
        </div>
    
</div>