<div class="mx-auto flex flex-col w-7/12">
    
    
        <div class="text-right mb-5">
            <%= link_to " + Add a trip", new_trip_path,
            class: "bg-slate-500 text-white font-bold p-3 py-3 rounded",
            data: {turbo_frame: "new_trip"} %>
        </div>
   
    <hr>

    <div class="mt-5 rounded">
        <h1 class="text-4xl text-center p-3 py-3 text-slate-500 font-bold bg-slate-200 rounded">Trips Made</h1>
    </div>

    <div>
        <%= render @trips %>
    </div>

</div>