<div class="mx-auto flex flex-col w-7/12">
    
    <%= turbo_frame_tag "new_trip" do %>
        <div class="text-right mb-5">
            <%= link_to " + Add a trip", new_trip_path,
            class: "bg-violet-500 text-white font-bold p-3 py-3 rounded" %>
        </div>
    <% end %>
    <hr>

    <div class="mt-5 rounded">
        <h1 class="text-4xl text-center p-3 py-3 text-violet-500 font-bold underline">Trips Made</h1>
    </div>

    <div>
        <%= render @trips %>
    </div>

</div>