<div class="text-center my-2">
    <% if notice %>
        <div class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></div>
    <% end %>
    <% if alert %>
        <div class="py-2 px-3 bg-orange-50 mb-5 text-orange-500 font-medium rounded-lg inline-block" id="notice"><%= alert %></div>
    <% end %>
</div>